extends ../main

block content
  div()
    a(href="/admin/user", class="btn btn-primary") New User
  table(class="table table-striped")
    thead
      th Username
      th Created
      th Actions
    tbody
      for user in users
        tr
          td= user.email
          td= user.created
          td
            a(href="/admin/user/" + user._id, class="btn btn-xs btn-default")
              span(class="glyphicon glyphicon-edit")
              |  Edit