@import 'vendor/bootstrap-datepicker.standalone.scss';

#main {
  padding-top: 75px;
}

.jumbotron {
  text-align: center
}

#google-analytics-account {
  .form-group {
    margin-right: 1em;
    label {
      margin-right: 0.25em;
    }
  }
}

#report-chart {
  .line {
    fill: none;
    stroke: gray;
    stroke-width: 1;
  }
  .axis .domain {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  .point {
    fill: black;
  }
}

.nav-tabs {
  padding-bottom: 1em;
}