@import 'vendor/daterangepicker.scss';
@import 'vendor/dashboard.scss';

.nav>li>.fake-link {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #337ab7;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  &:hover {
    background-color: #eee;
  }
}

.tab-pane {
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px;
}
