extends tabs

block tabContent
  table(class="table table-striped table-hover")
    thead
      th Created
    tbody
      for archive in archives
        tr
          td
            a(href="/report/" + archive.report + '/' + archive._id)= archive.created
