<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="app">One Metric</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="navbar-form navbar-right">
        <a href="/logout" class="btn btn-danger">
          Logout
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <h3>Sites</h3>
      <ul class="nav nav-sidebar">
        <li ng-repeat="site in sites" ng-class="{active: $state.includes('app.site',{'siteId': site._id}) || $state.includes('app.siteSettings',{'siteId': site._id}) || $state.includes('app.report',{'siteId': site._id})}">
          <a ui-sref="app.site({siteId: site._id})">{{ site.name }}</a>
        </li>
        <li>
          <button class="fake-link" ng-click="addSite()">
            <span class="glyphicon glyphicon-plus"></span>
            New Site
          </button>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view></div>
  </div>
</div>
