<ol class="breadcrumb">
  <li class="active">{{ site.name }}</li>
</ol>
<h1 class="page-header">{{ site.name }}</h1>
<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<div class="btn-group" role="group">
  <button class="btn btn-success" ng-click="runReport()" ng-disabled="!site.isValid()">
    <span class="glyphicon glyphicon-signal"></span>
    Run Report
  </button>
  <a ui-sref="app.siteSettings({siteId: site._id})" class="btn btn-primary">
    <span class="glyphicon glyphicon-certificate"></span>
    Settings
  </a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>URLs</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="report in reports">
      <td>{{ report.reportStart | date:'yyyy-MM-dd' }}</td>
      <td>{{ report.reportEnd | date:'yyyy-MM-dd' }}</td>
      <td>{{ report.getReportURLsSummary() }}</td>
      <td>
        <div class="btn-group pull-right" role="group">
          <a ui-sref="app.report({siteId: site._id, reportId: report._id})" class="btn btn-success btn-xs">
            <span class="glyphicon glyphicon-list-alt"></span>
            View
          </a>
          <a href="{{ downloadLink(report) }}" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-download"></span>
            Download
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
