<ol class="breadcrumb">
  <li><a ui-sref="app.site({siteId: site._id})">{{ site.name }}</a></li>
  <li class="active">Settings</li>
</ol>
<h1 class="page-header">{{ site.name }}</h1>
<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<form>
  <fieldset>
    <legend>Report Info</legend>
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" name="name" type="text" ng-model="site.name" placeholder="Site Name" />
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input class="form-control" id="url" name="url" type="text" ng-model="site.url" placeholder="http://" />
    </div>
  </fieldset>

  <fieldset>
    <legend>Accounts</legend>
    <p ng-show="!site.isGoogleAuthenticated()">
      <a href="/auth/{{ site._id }}/google" class="btn btn-primary">Authenticate Google</a>
    </p>
    <div class="row" ng-show="site.isGoogleAuthenticated()">
      <div class="col-md-4">
        <div class="form-group" >
          <label>Google Account</label>
          <select
            class="form-control"
            ng-model="site.auth.google.account.account"
            ng-options="account.id as account.name for account in google.accounts"></select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Google Property</label>
          <select
            class="form-control"
            ng-model="site.auth.google.account.property"
            ng-options="property.id as property.name for property in google.properties"></select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Google Profile</label>
          <select
            class="form-control"
            ng-model="site.auth.google.account.profile"
            ng-options="profile.id as profile.name for profile in google.profiles"></select>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Benchmarking</legend>
    <div class="form-group">
      <label for="benchmarkDates">Date Range</label>
      <input date-range-picker class="form-control date-picker" id="benchmarkDates" type="text" ng-model="datePicker.benchmarkDates" />
    </div>
    <div class="form-group">
      <label for="benchmarkURLs">Sample URLs</label>
      <textarea rows="5" class="form-control" id="benchmarkURLs" name="benchmarkURLs" type="text" ng-model="benchmarkURLsString" ng-model-options="{ getterSetter: true }"></textarea>
      <p><button ng-click="findURLs()" class="btn btn-primary btn-xs">Find URLs</button></p>
    </div>
  </fieldset>

  <button class="btn btn-primary" ng-click="save()">Save</button>
  <a ui-sref="app.site({siteId: site._id})" class="btn btn-default">
    Cancel
  </a>
</form>
